.signup-form-group {
  margin-top: 110px;
}

.signup-header {
  color: white;
}

.login-header {
  color: white;
}

.login-form-group {
  margin-top: 110px;
}

.AddGoal {
  background-color: #ffffff;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #e85a4f;
  margin-left: 20px;
  margin-top: 110px;
}

.account-welcome {
  margin-top: 110px;
}


.Goals {
  background-color: #d8c3a5;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white !important;
}

.Pancake {
  padding-left: 100px;
  margin: 100px;
}

/* .profile-goals-display { background: #eadcdc; } */
/* .profile-goals-display {
  background: #d8c3a5;
} */



.white {
  color: white;
}

/* .white:hover {
  color:#d8c3a5;
} */

.add-goal-spacer {
  padding-top: 112px;
}

.topMargin {
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #eae7dc;
}

.topMargin_bottom {
  padding-top: 5px;
  padding-bottom: 20px;
  background-color: #eae7dc;
}

.topMargin_white {
  padding-top: 20px;
  background-color: #ffffff;
}

.centerStage {
  justify-content: center;
}

.colorRed {
  color: #e85a4f;
}

.SmallFont {
  font-size: 18px;
}