.Header {
  top: 0;
  right: 0;
  background-color: #e85a4f;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(22px + 2vmin);
  color: white;
  margin-bottom: 30px;
}

/* .Header1 {
  background-color: #e85a4f;
  min-height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + 2vmin);
  color: white;
} */

.AddGoal {
  background-color: #ffffff;
  min-height: 35vh;
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: #e85a4f;
  margin-left: 20px;
}



/* .App-link {
  color: #666666;
} */


.Flower {
  background-color: #282c34;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white !important;
}

.Pancake {
  padding-left: 100px;
  margin: 100px;
}

li { background: #eae7dc; }
li:nth-child(odd) { background:#d8c3a5; }

.white {
  color: white;
}

.white:hover {
  color:#d8c3a5;
}


.topMargin {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #eae7dc;
}

.topMargin_bottom {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eae7dc;
}

.topMargin_white {
  padding-top: 30px;
  background-color: #ffffff;
  
}

.centerStage {
  justify-content: center;
}

.colorRed {
  color: #e85a4f;
}

.demo-non-form {
  color: initial;
  width: 100%;
  padding: 10px;
  margin: 6px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 0;
  font-family: arial, verdana, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-appearance: none;
}


/* .external-container button.external-button {
  font-weight: 400;
  padding: 10px;
  margin: 6px 0 13px 0;
  width: 100%;
} */

.SmallFont {
  font-size: 18px;
}

.Republican {
  margin-right: 12px;
  color: white;
}

.Democrate {
  margin-left: 12px;
  color: white;
}

.Green {
  margin-left: 12px;
  margin-right: 12px;
  color: white;
}

.Libertarian {
  margin-left: 12px;
  margin-right: 12px;
  color: white;
}

@media (max-width: 768px) {
  .Libertarian {
    display: none;
  }
  .Green {
      display: none;
  }
  .Democrate {
    display: none;
  }
  .Republican {
    display: none;
  }
}